# Estaticos
Redirect 302 /cv https://aulasvirtuales.frba.utn.edu.ar/enrol/index.php?id=3631
Redirect 302 /campus /cv
Redirect 302 /campusvirtual /cv
Redirect 302 /blog https://www.utnso.com.ar/
Redirect 302 /docs https://docs.utnso.com.ar/
Redirect 302 /youtube https://www.youtube.com/channel/UCPv858YLpdTylSrxsLM4DJA

Redirect 302 /vms https://docs.utnso.com.ar/primeros-pasos/entorno-linux
Redirect 302 /vm /vms
Redirect 302 /vms-shared https://docs.google.com/document/d/1_lDnILoIhZnRN6BtFsxGZZLstAJWlE2YPYGto7ThhZk
Redirect 302 /crear-vm /video-creacion-vm
Redirect 302 /vm-server https://drive.google.com/drive/folders/1Pn1SveTGkEVfcc7dYAr1Wc10ftEe8E0J?usp=sharing
Redirect 302 /vm-server-1 /vm-server
Redirect 302 /vm-server-2 /vm-server
Redirect 302 /vm-gui https://drive.google.com/drive/folders/1ASZjI4HsAKDZNgNJ-owhZA2GAJ8Rsqjr?usp=sharing
Redirect 302 /vm-gui-1 /vm-gui
Redirect 302 /vm-gui-2 /vm-gui
Redirect 302 /vm-gui-3 /vm-gui
Redirect 302 /vm-gui-4 /vm-gui
Redirect 302 /vm-gui-5 /vm-gui
Redirect 302 /vm-lenta https://github.com/sisoputnfrba/foro/issues/1007

Redirect 302 /suscripciones /cv
Redirect 302 /susc /suscripciones
Redirect 302 /suscrip /suscripciones
Redirect 302 /suscripcion /suscripciones

Redirect 302 /inscripciones http://inscripciones.utnso.com.ar/
Redirect 302 /i /inscripciones
Redirect 302 /ins /inscripciones
Redirect 302 /insc /inscripciones
Redirect 302 /inscripcion /inscripciones
Redirect 302 /cambio https://inscripciones.utnso.com.ar/cambio.php
Redirect 302 /cambios /cambio

Redirect 302 /github https://github.com/sisoputnfrba
Redirect 302 /gh /github
Redirect 302 /teams https://github.com/orgs/sisoputnfrba/teams

Redirect 302 /issues https://github.com/sisoputnfrba/foro/issues
Redirect 302 /issue /issues
Redirect 302 /issue-grupos https://github.com/sisoputnfrba/foro/issues/4228

Redirect 404 /soporte
Redirect 302 /sabado /soporte
Redirect 302 /sabados /soporte
Redirect 302 /laboratorio /soporte
Redirect 302 /labo /laboratorio
Redirect 302 /foro https://github.com/sisoputnfrba/foro/issues
Redirect 302 /foros /foro
Redirect 302 /discord https://discordapp.com/channels/687634725270978560/687675222849093733
Redirect 302 /discord-invite https://discord.gg/kSbb7GQ

Redirect 404 /calendario
Redirect 302 /calendar /calendario
Redirect 302 /todo https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Asisoputnfrba+sort%3Aupdated-desc
Redirect 302 /todos /todo
Redirect 302 /TODO  /todo
Redirect 302 /TODOs /todo

Redirect 302 /inscripciones https://inscripciones.utnso.com.ar/
Redirect 302 /inscripcion /inscripciones
Redirect 302 /inscribirse /video-inscripciones
Redirect 302 /mariobash https://mariobash.utnso.com.ar/
Redirect 302 /punteros https://docs.utnso.com.ar/guias/programacion/punteros
Redirect 302 /git https://docs.google.com/presentation/d/1nDfC86Zs6GB7_FiWt3q2RcjqUQlZReGWMlmOqLx0VGk/edit
Redirect 302 /git-cli https://youtu.be/8O4LFYPY-Ww
Redirect 302 /egit https://youtu.be/s-r_-o8nxDw
Redirect 302 /git-eclipse /egit
Redirect 302 /git-gui /egit

# Utiles
Redirect 302 /project https://github.com/sisoputnfrba/c-base-project/
Redirect 302 /project.tar.gz /project/archive/refs/heads/main.tar.gz

Redirect 302 /get-repo.sh https://gist.github.com/marcogatti/5948111/raw/789b322a4860b4977a1acd07ed255fe16548abfe/get-repo.sh
Redirect 302 /get-and-compile-repo.sh https://gist.github.com/marcogatti/7635534/raw/3d8fea4b2e822a66e044df1696258c14b5c2d6c1/get-and-compile-repo.sh
Redirect 302 /commons https://github.com/sisoputnfrba/so-commons-library
Redirect 302 /commons-src https://github.com/sisoputnfrba/so-commons-library/tree/master/src/commons
Redirect 302 /commons-unit-tests https://github.com/sisoputnfrba/so-commons-library/tree/master/tests/unit-tests
Redirect 302 /commons-docs https://sisoputnfrba.github.io/so-commons-library
Redirect 302 /deploy https://github.com/sisoputnfrba/so-deploy
Redirect 302 /script-ntp.sh https://gist.githubusercontent.com/NaylaWinter/8744178666f6374f1b1c0e42f23930f1/raw/1f5b96568898ca2af3093d75f4bbdc38a9bf6c74/script-ntp.sh
Redirect 302 /ngrok.zip https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-386.zip

# Repo Entorno vms

Redirect 302 /machine-id-reset https://raw.githubusercontent.com/sisoputnfrba/entorno-vms/main/machine-id-reset.sh
Redirect 302 /install-golang https://raw.githubusercontent.com/sisoputnfrba/entorno-vms/main/golang.sh

# Internal
Redirect 302 /internal/wiki https://sites.google.com/view/sisop-wiki
Redirect 302 /soporte-api https://v2-api.sheety.co/347132548f839e77e04682c7fb75043f/soporteSisop/1C2020

# Teoria
Redirect 302 /arrancar https://docs.utnso.com.ar/primeros-pasos/primer-proyecto-c
Redirect 302 /empezar /arrancar
Redirect 302 /como-arrancar /arrancar
Redirect 302 /como-empezar /arrancar

# Presentaciones
Redirect 302 /intro-al-tp https://docs.google.com/presentation/d/1VHaTWwc9bBh-S9vNLpX9lG1Urs8raiKaEo_UY1UKKos
Redirect 302 /valgrind-ppt https://docs.google.com/presentation/d/18-Oq7BG3jQRNdLsLHSZS2wspY5sQzaliRuUqwQ1KpU4/edit#slide=id.p1
Redirect 302 /valgrind https://docs.utnso.com.ar/guias/herramientas/valgrind
Redirect 302 /ejercicios https://docs.google.com/document/d/1HSO63oQUx8tJH6dlDyjktShKXuEfpGpi3ZnRoPN6SYY/edit
Redirect 302 /introC https://docs.google.com/presentation/d/1lpRmd4jRZjiR7NmSPZ5vJbIZkWt8fnw9qQ6tYIypulM
Redirect 302 /introc /introC
Redirect 302 /senales https://docs.google.com/presentation/d/16vml3EWLEV6OByTC3o-ObKCMA7m2zd-Uw6O2qu-VNuQ
Redirect 302 /seniales /senales
Redirect 302 /signal /senales
Redirect 302 /signals /senales
Redirect 302 /threads https://docs.google.com/presentation/d/1h8titsIBlkGpmX7CnyaHKcY-8NU-xcauk8fpRMaQHhc
Redirect 302 /hilos /threads
Redirect 302 /pthreads /threads
Redirect 302 /thread /threads

Redirect 302 /intro-fs https://docs.google.com/presentation/d/1yz9d2nL7oT5sw76sPHsfApgVqKecid8d8wfTvQItHQM
Redirect 302 /fuse https://docs.google.com/presentation/d/1a5rZxTozEwbespLPXfiqjhZ47FlB3FnX0MG7x7WbSLs
Redirect 302 /FUSE /fuse
Redirect 302 /fuse-old https://docs.google.com/presentation/d/1yka66_uJNpBBdUwe3Ru5IUdrablA2dXo_r6S_oKbIwY

Redirect 302 /shared-library-2012 /video-eclipse-shared-library-old
Redirect 302 /shared-library-2020 /video-eclipse-shared-library
Redirect 302 /shared-library /shared-library-2020
Redirect 302 /shared-libraries /shared-library
Redirect 302 /debug-eclipse /video-eclipse-debugging
Redirect 302 /setup-vm /video-creacion-vm
Redirect 302 /guest-additions /video-guest-additions
Redirect 302 /guest-aditions /guest-additions
Redirect 302 /exercises /ejercicios
Redirect 302 /ejercicios-repo https://github.com/sisoputnfrba/so-exercises
Redirect 302 /repo-ejercicios /ejercicios-repo
Redirect 302 /video-threads /video-hilos-mutex

Redirect 302 /sockets https://docs.google.com/presentation/d/1562EJP6O9-LHaw-kp8CySPS41Glod3IzB2xv-aGfzQE
Redirect 302 /socket /sockets
Redirect 302 /serializacion https://docs.google.com/presentation/d/1-S30Imgw-4KxIyHK-p7kO07UZdY7OGrLTXSGhfkl1Ug
Redirect 302 /multiplexacion https://docs.google.com/presentation/d/1NaEQjzsyoNbnuyH1wmClfnTb2EUn5MIGYyLaRru4Y14
Redirect 302 /debug-remote /video-terminal-debugging
Redirect 302 /bash https://docs.google.com/presentation/d/1_yLMZNffFHL-mfW-6G2JHYv528PJHs3nWQ-A69rbmQ4
Redirect 302 /fork https://docs.google.com/presentation/d/1276r2sA2D-oQ1lpv0DS9nlyAIAIpjRma55CXKtYvT_o
Redirect 302 /semaforos https://docs.google.com/presentation/d/1h8titsIBlkGpmX7CnyaHKcY-8NU-xcauk8fpRMaQHhc/edit#slide=id.p19
Redirect 302 /semaforo /semaforos
Redirect 302 /errores-eclipse https://youtu.be/qKkmU13uKHw
Redirect 302 /reportar-errores /errores-eclipse
Redirect 302 /reportar /errores-eclipse
Redirect 302 /eclipse-makefile /video-eclipse-import-makefile
Redirect 302 /eclipse-guia-grafica https://docs.google.com/document/d/16vNTvgYpmojT9vNOLf9MOSEG-EcmozHIGyNx8h5JmoI/pub
Redirect 302 /declarar http://cdecl.org/
Redirect 302 /declaraciones /declarar
Redirect 302 /mati-youtube https://www.youtube.com/playlist?list=PLeeevWEZ9lx6BXeFX8xpDrVmJk7OTuEug
Redirect 302 /matiyoutube /mati-youtube
Redirect 302 /youtubemati /mati-youtube
Redirect 302 /youtube-mati /mati-youtube
Redirect 302 /cunit /guia-cunit
Redirect 302 /eclipse-postmortem /video-eclipse-debug-postmortem
Redirect 302 /postmortem /eclipse-postmortem
Redirect 302 /debug-postmortem /eclipse-postmortem
Redirect 302 /ngrok https://youtu.be/vFkmdQVn4Ug

Redirect 302 /c-wannabe https://docs.google.com/presentation/d/1WdknYh9ImAM6fHedBA-yKDIcqiLvsW-t6VvaRLkpCjo/edit?usp=sharing

# Golang
Redirect 302 /encuesta-go https://forms.gle/EGnghr2wPLVbFFga9
Redirect 302 /encuesta-golang https://forms.gle/EGnghr2wPLVbFFga9

# TP 0
Redirect 302 /tp0 https://github.com/sisoputnfrba/tp0
Redirect 302 /tp0.git https://github.com/sisoputnfrba/tp0.git
Redirect 302 /tp0-enunciado https://docs.utnso.com.ar/primeros-pasos/tp0
Redirect 302 /tp0-go https://github.com/sisoputnfrba/tp0-golang
Redirect 302 /tp0-go.git https://github.com/sisoputnfrba/tp0-golang.git
Redirect 302 /tp0-golang https://github.com/sisoputnfrba/tp0-golang
Redirect 302 /tp0-golang.git https://github.com/sisoputnfrba/tp0-golang.git
Redirect 302 /tp0-golang-enunciado https://golang.utnso.com.ar/primeros-pasos/tp0
Redirect 302 /tp0-go-enunciado https://golang.utnso.com.ar/primeros-pasos/tp0
Redirect 302 /workshop /tp0
Redirect 302 /workshopC /workshop
Redirect 302 /c /introC

# TP
Redirect 302 /tp /enunciado
Redirect 302 /trabajo-practico /tp
Redirect 302 /enunciado-tp /trabajo-practico
Redirect 302 /errata /enunciado
Redirect 302 /erratas /errata
Redirect 302 /enunciado /tp-last-of-c
Redirect 302 /pruebas /tp-last-of-c-pruebas
Redirect 302 /pruebas-repo /tp-last-of-c-pruebas-repo
Redirect 404 /enunciado-video
Redirect 404 /enunciado-ppt
Redirect 302 /enunciado-presentacion /enunciado-ppt
Redirect 302 /ntp https://docs.utnso.com.ar/primeros-pasos/normas-tp

# TP GO
Redirect 302 /tp-go /enunciado-go
Redirect 302 /tp-golang /enunciado-go
Redirect 302 /trabajo-practico-go /enunciado-go
Redirect 302 /trabajo-practico-golang /enunciado-go
Redirect 302 /enunciado-golang /enunciado-go
Redirect 302 /enunciado-go /tp-god

# GOD
Redirect 302 /tp-god https://docs.google.com/document/d/1HSZ14tk7IOfkOf-7ni0Wa6wnKZClEQA7zZyv-h0EZAY

# Last of C
Redirect 302 /tp-last-of-c https://docs.google.com/document/d/1KloOXfXQb_c1S3PKDEEywnArX9YB3aApqGVmpNgv9_Q
Redirect 404 /tp-last-of-c-pruebas
Redirect 404 /tp-last-of-c-pruebas-repo

# A.L.GO
Redirect 302 /tp-algo https://docs.google.com/document/d/1w0PK_ZCUHsvGrVER_rKW7HkqLjHdkC6H0IBsmHUqhS4
Redirect 404 /tp-algo-pruebas

# C-Comenta
Redirect 302 /tp-c-comenta https://docs.google.com/document/d/1-AqFTroovEMcA1BfC2rriB5jsLE6SUa4mbcAox1rPec
Redirect 302 /tp-c-comenta-pruebas https://docs.google.com/document/d/1XsBsJynoN5A9PTsTEaZsj0q3zsEtcnLgdAHOQ4f_4-g/edit?usp=sharing
Redirect 302 /tp-c-comenta-pruebas-repo https://github.com/sisoputnfrba/c-comenta-pruebas 

# MaPPA
Redirect 302 /tp-mappa https://docs.google.com/document/d/1g6DEcbjilpX2XUBADuF6dPnrLv5lzoTZSVYCPgpHM_Q
Redirect 302 /tp-mappa-pruebas https://docs.google.com/document/d/1DkLI9mhsAWXD-r2YHdnLBWHChp0JFpVMHtYBoqfezhg

# TUKI
Redirect 302 /tuki https://docs.google.com/document/d/1orfThJsPmMx5uPzbY3wClGhqX8jASMOCUMlWnYAr7cA
Redirect 302 /tuki-pruebas https://docs.google.com/document/d/1MNalaTCB95qGO8q3rlR7VVCQqv3VLP3oeYxBgXgBy5g

# GECK
Redirect 302 /geck https://docs.google.com/document/d/1xYmkJXRRddM51fQZfxr3CEuhNtFCWe5YU7hhvsUnTtg/edit?usp=sharing
Redirect 302 /geck-pruebas https://docs.google.com/document/d/1qxF4h9dkL5L6X6P8qts997wTC1qLxIg6ElZzlU1Xgi4/edit

# KISS
Redirect 302 /kiss https://docs.google.com/document/d/17WP76Vsi6ZrYlpYT8xOPXzLf42rQgtyKsOdVkyL5Jj0/edit?usp=sharing
Redirect 302 /kiss-pruebas https://docs.google.com/document/d/1SBBTCweMCiBg6TPTt7zxdinRh4ealRasbu0bVlkty5o/edit

# CarpinchOS
Redirect 302 /carpinchos https://docs.google.com/document/d/1BDpr5lfzOAqmOOgcAVg6rUqvMPUfCpMSz1u1J_Vjtac

# A-MongOs
Redirect 302 /a-mongos https://docs.google.com/document/d/1u54jk7uKaa6BOAXgLuNVfeYN_mwPBje94iX_6KqvqJo
Redirect 302 /intro-a-mongos https://youtu.be/-DDtMBYePjs

#Pedidos Ya
Redirect 302 /pedidos-ya https://docs.google.com/document/d/13JCJawPWfL2y6wGTBYykUTvQY5Uso0iYpXSFDAQFbFw
Redirect 302 /intro-pedidos-ya https://youtu.be/n4zWjlTwDtw

# Delibird
Redirect 302 /delibird https://docs.google.com/document/d/1be91Gn93O2Vp8frZoV1i5CmtOG0scE1PS8dMHsCP314
Redirect 404 /delibird-pruebas

# LINUSE
Redirect 302 /linuse https://docs.google.com/document/d/1gKh3IXo3KZMds-8PYA2PQmQfXe14BD2RwXeXOM_EEh0
Redirect 302 /linuse-ppt https://docs.google.com/presentation/d/1Kx7na56SjRdTzNO-ZDs-sqnoIwVve_IOeuAfQu_vuNA
Redirect 302 /linuse-ppt-fs https://docs.google.com/presentation/d/1Q5x6kaWE_qvfrHxywLUmNUDwGu9qonrNk7tbKL_PkBg
Redirect 302 /linuse-pruebas https://docs.google.com/document/d/18P3tJK-Gjxy9M9fuF5calhJXMdH81gBtzNqoI9ANy-U

# Lissandra
Redirect 302 /lissandra https://docs.google.com/document/d/1uMReZYgwPkWuVMxfv_FfyouFpSYVl1kqewOZuyAHw-A
Redirect 302 /lissandra-ppt https://docs.google.com/presentation/d/1_1YAiVPtfjQdBv9Tzhoeg6GpwjHrUtPIkFR5Ad37X-0
Redirect 302 /lissandra-pruebas https://docs.google.com/document/d/1p71HveW3wE68YQGh43ZISPAaAQvzxe7GLWYnT__6eW0/edit
Redirect 302 /lissandra-pruebas-checkpoint https://docs.google.com/document/d/1nz6_9qsP2DjArh595U2SzV93x726Y3LgQNU3OB637Mg

# El Gran TP
Redirect 302 /grantp https://docs.google.com/document/d/1_mX1Qnzw3lO01dMwurFitsfnSV3tbx1jFo88c9JpILQ
Redirect 302 /grantp-v1-1 https://www.utnso.com.ar/wp-content/uploads/2018/09/2C2018-El-Gran-TP.pdf
Redirect 302 /grantp-ppt https://docs.google.com/presentation/d/1x7lZQGYfYxSvrNPqvTkH36pIZjALN1u2FaE5nUdWV50
Redirect 302 /grantp-pruebas https://docs.google.com/document/d/173yh_fKrWrCos7X6iNstRiFKpuo6tOoU1vxYGKYLr44
Redirect 302 /grantp-pruebas-checkpoint https://docs.google.com/document/d/1N5BA1lmOHxYUTeN3HlMPqFbVqsRYApDehTHVR_qMXqQ

# Redistinto
Redirect 302 /redistinto https://sisoputnfrba.gitbook.io/re-distinto/
Redirect 302 /redistinto-pdf https://www.utnso.com.ar/wp-content/uploads/2018/04/2018-1C-Enunciado-ReDistinto.pdf
Redirect 302 /redistinto-ppt https://docs.google.com/presentation/d/1KaY9jbIh3oY1qv6yYuPhZK5l21QE2MURuG-y8lk_xFc/edit?usp=sharing
Redirect 302 /redistinto-presentacion /redistinto-ppt
Redirect 302 /redistinto-errata https://github.com/sisoputnfrba/2018-1c-re-distinto/compare/1.0...master
Redirect 302 /redistinto-pruebas https://www.utnso.com.ar/wp-content/uploads/2018/07/TP-1C2018-Re-distinto-Pruebas.pdf

# YAMA
Redirect 302 /yama https://sisoputnfrba.gitbooks.io/yama-tp-2c2017/content/
Redirect 302 /yama-pdf https://www.utnso.com.ar/wp-content/uploads/2017/08/2C2017-YAMA.pdf
Redirect 302 /llama /yama
Redirect 302 /llama-pdf /yama-pdf
Redirect 302 /yama-ppt https://docs.google.com/presentation/d/1g6zfAXUjHh5REH4kZlS37rusuU5tex5WxsM9kELaLFo
Redirect 302 /llama-ppt /yama-ppt
Redirect 302 /yama-presentacion /yama-ppt
Redirect 302 /llama-presentacion /yama-ppt
Redirect 302 /yama-errata https://github.com/sisoputnfrba/2017-2c-yama/compare/736f0ec6c62db5ce2b0714be5acc48efa3d4eea8...master
Redirect 302 /llama-errata /yama-errata
Redirect 302 /yama-planificacion https://docs.google.com/presentation/d/1yS2y_DUkH8FWTuCNbA844FOrcYMdq3LSJ0S0FDH3gA4
Redirect 302 /llama-ppt /yama-planificacion
Redirect 302 /yama-pruebas https://www.utnso.com.ar/wp-content/uploads/2017/11/TP-2C2017-YAMA-Pruebas.pdf
Redirect 302 /llama-pruebas /yama-pruebas

# ESTheR
Redirect 302 /esther https://www.utnso.com.ar/wp-content/uploads/2017/03/1C2017-ESTheRElStackTheRevengeV1.0-1.pdf
Redirect 302 /ester /esther
Redirect 302 /esther-ppt https://docs.google.com/presentation/d/1ZH16mcO3rzIJNfq-8phIJgJGhrPFuNq3j5WqPWliq0I
Redirect 302 /ester-ppt /esther-ppt
Redirect 302 /esther-presentacion /esther-ppt
Redirect 302 /ester-presentacion /esther-ppt
Redirect 302 /esther-errata https://github.com/sisoputnfrba/2017-1c-esther-errata/blob/master/errata.md
Redirect 302 /esther-pruebas http://www.utnso.com.ar/wp-content/uploads/2017/07/1C2017-ESTheR-Pruebas.pdf

# char *mander
Redirect 302 /charmander https://www.gitbook.com/book/sisoputnfrba/char-mander-tp-2c2016
Redirect 302 /char-mander /charmander
Redirect 302 /char_mander /charmander
Redirect 302 /charmander-errata https://github.com/sisoputnfrba/2016-2c-char-mander/compare/v1.0...master
## Disco ejemplo
Redirect 302 /charmander-ejemplo.tar.gz https://www.utnso.com.ar/wp-content/uploads/2016/09/ejemplo.tar.gz
## Pruebas
Redirect 302 /base.bin https://github.com/sisoputnfrba/so-charmander-pruebas/releases/download/primer-version/01-base.bin
Redirect 302 /base.bin.gz https://github.com/sisoputnfrba/so-charmander-pruebas/releases/download/primer-version/01-base.gz
Redirect 302 /completa.bin https://github.com/sisoputnfrba/so-charmander-pruebas/releases/download/primer-version/02-completa.bin
Redirect 302 /completa.bin.gz https://github.com/sisoputnfrba/so-charmander-pruebas/releases/download/primer-version/02-completa.gz
Redirect 302 /pruebas-charmander https://github.com/sisoputnfrba/so-charmander-pruebas/releases/latest

# Elestac
Redirect 302 /elestac https://www.gitbook.com/book/sisoputnfrba/elestac-tp-1c2016
Redirect 302 /elestac-errata https://github.com/sisoputnfrba/2016-1c-Elestac-enunciado/compare/v1.0...master
Redirect 302 /elestac-pruebas https://docs.google.com/document/d/1AUUJ40QaKv8JYmdQWxj49_u8PumP4C7Cd-8fWAX-hQ4/edit

# Cache13
Redirect 302 /cache13 https://www.gitbook.com/book/sisoputnfrba/2c2015-enunciado-cache13
Redirect 302 /cache13-presentacion https://docs.google.com/presentation/d/14aWrtuXexezpM3esquk1YaeNuw0xBjrVJvKdGDpSH24
Redirect 302 /cache13-pruebas https://docs.google.com/document/d/1jLBmFVHO2XCGHFf08NxsjAgL8-vj8Fk7QJ_lYZtNRgM
Redirect 302 /cache13-scripts https://github.com/sisoputnfrba/cache13-scripts

# ReduceMapFast
Redirect 302 /reducemapfast https://www.utnso.com.ar/wp-content/uploads/2015/04/ReduceMapFast-1.0.0a.pdf.zip
Redirect 302 /reduce /reducemapfast
Redirect 302 /reducemap /reducemapfast
Redirect 302 /reducemapfast-errata https://github.com/sisoputnfrba/2015-1c-reducemapfast-errata
Redirect 302 /reduce-errata /reducemapfast-errata
Redirect 302 /reducemapfast-presentacion https://docs.google.com/presentation/d/1ugtktm5I3oI0j8d1qbFpvNSgyI_vN6U1Rif4o-jug9U
Redirect 302 /apareando https://docs.google.com/presentation/d/1UtvW_jVlP_-3Aj3LyP-3qm3MhuocgAjlyVCi1W-l0cw

# Rafaga
Redirect 302 /rafaga https://www.utnso.com.ar/wp-content/uploads/2014/08/2C2014-SO-Rafaga.pdf
Redirect 302 /rafaga-ppt https://docs.google.com/presentation/d/1nhc7OVKG9Vkbdg8AFSTXjVuksL08tOPqcq8N6UmoNPs
Redirect 302 /rafaga-algoritmos https://github.com/sisoputnfrba/2014-2c-rafaga-errata/blob/master/algoritmos.md#asignaci%C3%B3n-de-algoritmos-de-memoria
Redirect 302 /rafaga-errata https://github.com/sisoputnfrba/2014-2c-rafaga-errata/blob/master/errata.md#r%C3%A1faga---fe-de-errata
Redirect 302 /algoritmo /rafaga-algoritmos
Redirect 302 /algoritmos /rafaga-algoritmos
Redirect 302 /so-ensamblador https://github.com/sisoputnfrba/so-ensamblador
Redirect 302 /ensamblador /so-ensamblador

# Esta CoverFlow
Redirect 302 /estacoverflow https://www.utnso.com.ar/wp-content/uploads/2014/04/1C2014-Est%C3%A1-Coverflow-v1.0.zip
Redirect 302 /estacoverflow-ppt https://docs.google.com/presentation/d/17P5fUmnWcj87Z0xs3Tg5iSW3oSlpOOo0nUKOHU0y0Q0
Redirect 302 /estacoverflow-errata https://github.com/sisoputnfrba/1c2014-esta-coverflow-errata
Redirect 302 /estacoverflow-erratas /estacoverflow-errata
Redirect 302 /parser https://github.com/sisoputnfrba/ansisop-parser

# SuperMarioProc RELOADED
Redirect 302 /supermarioreloaded https://www.utnso.com.ar/wp-content/uploads/2013/09/TP2C2013-SuperMarioProcRELOADED-v1.0.pdf
Redirect 302 /presentacion-enunciado https://docs.google.com/presentation/d/1Mi8aGaKc-_WuQOg3CeDRg2dLQQvbIH0WxLsV_lVcXd0
Redirect 302 /presentacion-tp /presentacion-enunciado
Redirect 302 /presentacionenunciado /presentacion-enunciado
Redirect 302 /disk.bin_.7z http://forocatupecu.com.ar/sisop/disk.bin_.7z

# SuperMarioProc
# Redirect 302 /supermario http://www.campusvirtual.frba.utn.edu.ar/especialidad/pluginfile.php/54603/mod_wiki/attachments/37//TP1C2013-SuperMarioProc-v1.0.zip?forcedownload=1
# Redirect 302 /supermario-errata https://docs.google.com/document/d/1HWcW6KG7CblypEvpbqWRdDyqNOFs-cBDi0tvOt8mss4
# Redirect 302 /notas /supermario-errata
# Redirect 302 /errata /supermario-errata
# Redirect 302 /koopa /bin/koopa
# Redirect 302 /koopa-1.2 /bin/koopa
# Redirect 302 /pedidos /pedidos.koopa
# Redirect 302 /pedido /pedidos.koopa
# Redirect 302 /ejemplo-koopa /pedidos.koopa

# Redirecciones del FAQ
# Redirect 302 /faq https://docs.google.com/document/d/1majyhMFRdZuLLOUCp-PrmiWzQbcMnllWX9PRaR8DTIk
# Redirect 302 /ld-library-path https://docs.google.com/document/d/1majyhMFRdZuLLOUCp-PrmiWzQbcMnllWX9PRaR8DTIk
# Redirect 302 /segfault https://docs.google.com/document/d/1majyhMFRdZuLLOUCp-PrmiWzQbcMnllWX9PRaR8DTIk
# Redirect 302 /SIGSEGV /segfault
# Redirect 302 /sigsegv /segfault
# Redirect 302 /desaparece-proyecto https://docs.google.com/document/d/1majyhMFRdZuLLOUCp-PrmiWzQbcMnllWX9PRaR8DTIk
# Redirect 302 /inotify-vi https://docs.google.com/document/d/1majyhMFRdZuLLOUCp-PrmiWzQbcMnllWX9PRaR8DTIk
Redirect 302 /estructurado https://docs.google.com/document/d/18nEaKcG7MUYcle_5ooxbABHyDaSv60AnehOhsoKgOsw/edit?usp=drivesdk

Redirect 302 /beej http://beej.us/guide/bgnet/
Redirect 302 /beej-es https://github.com/mgarciaisaia/bgnet-spanish/blob/spanish/src/bgnet.md
Redirect 302 /beej_es /beej
Redirect 302 /beej-en http://beej.us/guide/bgnet/html/
Redirect 302 /beej_en /beej-en

# Meta
Redirect 302 /agregar https://github.com/sisoputnfrba/faqoperativos-links/edit/master/.htaccess
Redirect 302 /meta /agregar
Redirect 302 /levantando.bat https://gist.githubusercontent.com/mgarciaisaia/ce9c1a0dd9bca9ca740a7a4e0034d87f/raw/28e26546da199c5ba38fb7c94e5dc4d38896d34e/levantando.bat

# Clases
Redirect 302 /clase-adriano https://meet.google.com/yfv-enmf-iqo

# videos
Redirect 302 /videos /youtube
Redirect 302 /video /videos
Redirect 302 /video-inscripciones https://youtu.be/iwJRsZxX7Kk
Redirect 302 /video-creacion-vm https://youtu.be/DmkSXv_Xa-U
Redirect 302 /video-guest-additions https://youtu.be/uMoO58tPc5c
Redirect 302 /video-compartir-portapapeles https://youtu.be/xJ52dDTfCHo
Redirect 302 /video-snapshots https://youtu.be/u1L23ziKgz4
Redirect 302 /video-guardar-vm https://youtu.be/YqFybzQmqOc
Redirect 302 /video-git-primeros-pasos https://youtu.be/vHuFZM6aElY
Redirect 302 /video-git-clonar https://youtu.be/dc9G_y5NixY
Redirect 302 /video-git-ciclo https://youtu.be/c2DEcJh0h38
Redirect 302 /video-git-avanzado https://youtu.be/mawMGxE4048
Redirect 302 /video-git-eclipse https://youtu.be/WWQ8zFji_k0
Redirect 302 /video-git-comandos-basicos https://www.youtube.com/playlist?list=PL6oA23OrxDZDdJFevO8mR9QzObRokrym_
Redirect 302 /video-eclipse https://youtu.be/gqvDRQwncio
Redirect 302 /video-eclipse-hello-world-1 https://youtu.be/2X9vfLSeB6A
Redirect 302 /video-eclipse-hello-world-2 https://youtu.be/J2-6oba0xYE
Redirect 302 /video-eclipse-import-git https://youtu.be/v1-POeJtW3E
Redirect 302 /video-eclipse-import-makefile https://youtu.be/PgrORWmUxkI
Redirect 302 /video-eclipse-crear-git https://youtu.be/4G7bx22A2Jk
Redirect 302 /video-eclipse-integrar-git https://youtu.be/7TGR4chN-PY
Redirect 302 /video-eclipse-shared-library https://youtu.be/A6dhc9cCI18
Redirect 302 /video-eclipse-shared-library-old https://youtu.be/Aw9kXFqWu_I
Redirect 302 /video-terminal-debugging https://youtu.be/KlKLSGaOZok
Redirect 302 /video-eclipse-debugging https://youtu.be/0OhCEzVgdRA
Redirect 302 /video-eclipse-debug-postmortem https://youtu.be/JkryXLsX2xE
Redirect 302 /video-eclipse-shared-ingles https://youtu.be/9GHERvUS6m8
Redirect 302 /video-linux-comandos-basicos https://youtu.be/NmQlvnq-f3g
Redirect 302 /video-intro-c https://youtu.be/caeklleBJDI
Redirect 302 /video-c-gdb-1 https://youtu.be/IteUvGWCrmc
Redirect 302 /video-c-gdb-2 https://youtu.be/FzxE5WCREgo
Redirect 302 /video-gcc-makefile-1 https://youtu.be/OHfMNqe-Fdw
Redirect 302 /video-gcc-makefile-2 https://youtu.be/JafEOsYEdVI
Redirect 302 /video-hilos-mutex https://youtu.be/gl8FQU3VEzU
Redirect 302 /video-sockets-1 https://youtu.be/87gwfsJ_83o
Redirect 302 /video-sockets-2 https://youtu.be/aWMm369uiA0
Redirect 302 /video-sockets-3 https://youtu.be/IWyGFJFVWB8
Redirect 302 /video-sockets-4 https://youtu.be/et6CQ5CGtWA
Redirect 302 /video-mapreduce-apareo https://youtu.be/OIAxY6TGMZQ

#Guias
Redirect 302 /guia-repaso-arquitectura https://mgarciaisaia.github.io/simplecpu/
Redirect 302 /guia-intro-c https://mgarciaisaia.github.io/tutorial-c/lo-c-tutto/
Redirect 302 /guia-punteros /punteros
Redirect 302 /guia-serializacion https://docs.utnso.com.ar/guias/linux/serializacion
Redirect 302 /guia-buenas-practicas-c https://docs.utnso.com.ar/guias/programacion/buenas-practicas
Redirect 302 /guia-tipos-arquitectura https://mgarciaisaia.github.io/tutorial-c/blog/2014/12/26/int-vs-int32-t/
Redirect 302 /guia-consola-interactiva https://medium.com/@tferraro/readline-la-biblioteca-de-gnu-que-hace-devs-felices-349539501cad
Redirect 302 /guia-sockets https://docs.utnso.com.ar/guias/linux/sockets
Redirect 302 /guia-uso-select https://developerweb.net/viewtopic.php?id=2934
Redirect 302 /guia-uso-select-v2 https://gist.github.com/iago64/9f6acf5959846dc2a0f548ae3af7d34d
Redirect 302 /debugger /guia-debug-eclipse
Redirect 302 /guia-debug-eclipse https://docs.utnso.com.ar/guias/herramientas/debugger
Redirect 302 /guia-debug-eclipe /guia-debug-eclipse
Redirect 302 /guia-valgrind /valgrind
Redirect 302 /guia-cunit https://docs.utnso.com.ar/guias/herramientas/cunit
Redirect 302 /guia-cspec https://docs.utnso.com.ar/guias/herramientas/cspec
Redirect 302 /guia-c-gdb https://mgarciaisaia.github.io/tutorial-c/blog/2015/02/24/aprendiendo-c-con-gdb/
Redirect 302 /guia-scripts-interpretes http://mgarciaisaia.github.io/tutorial-c/blog/2014/03/20/she-bangs-she-bangs/
Redirect 302 /guia-rutas https://mgarciaisaia.github.io/tutorial-c/blog/2015/04/23/rutas-argentinas/
Redirect 302 /guia-custom-malloc https://mgarciaisaia.github.io/tutorial-c/blog/2014/12/26/un-tutorial-rapido-para-implementar-y-debuggear-malloc/
Redirect 302 /guia-links https://mgarciaisaia.github.io/tutorial-c/blog/2015/02/07/between-a-rock-and-a-hard-link/
Redirect 302 /guia-carpeta-compartida-vm https://docs.google.com/document/d/11hvWR_GDrDCL1JUaTXfBfh07eOwuB1M8inOiBjKxCiI
