# Estaticos
Redirect 302 /cv https://faq.utnso.com.ar/cv
Redirect 302 /campus https://faq.utnso.com.ar/campus
Redirect 302 /campusvirtual https://faq.utnso.com.ar/campusvirtual
Redirect 302 /blog https://faq.utnso.com.ar/blog

Redirect 302 /vms https://faq.utnso.com.ar/vms
Redirect 302 /vm https://faq.utnso.com.ar/vm

Redirect 302 /suscripciones https://faq.utnso.com.ar/suscripciones
Redirect 302 /susc https://faq.utnso.com.ar/susc
Redirect 302 /suscrip https://faq.utnso.com.ar/suscrip
Redirect 302 /suscripcion https://faq.utnso.com.ar/suscripcion

Redirect 302 /inscripciones https://faq.utnso.com.ar/inscripciones
Redirect 302 /i https://faq.utnso.com.ar/i
Redirect 302 /ins https://faq.utnso.com.ar/ins
Redirect 302 /insc https://faq.utnso.com.ar/insc
Redirect 302 /inscripcion https://faq.utnso.com.ar/inscripcion
Redirect 302 /cambio https://faq.utnso.com.ar/cambio
Redirect 302 /cambios https://faq.utnso.com.ar/cambios

Redirect 302 /github https://faq.utnso.com.ar/github
Redirect 302 /gh https://faq.utnso.com.ar/gh
Redirect 302 /teams https://faq.utnso.com.ar/teams

Redirect 302 /issues https://faq.utnso.com.ar/issues
Redirect 302 /issue https://faq.utnso.com.ar/issue

Redirect 302 /soporte https://faq.utnso.com.ar/soporte
Redirect 302 /sabado https://faq.utnso.com.ar/sabado
Redirect 302 /sabados https://faq.utnso.com.ar/sabados
Redirect 302 /laboratorio https://faq.utnso.com.ar/laboratorio
Redirect 302 /labo https://faq.utnso.com.ar/labo
Redirect 302 /foro https://faq.utnso.com.ar/foro
Redirect 302 /foros https://faq.utnso.com.ar/foros

Redirect 302 /calendario https://faq.utnso.com.ar/calendario
Redirect 302 /calendar https://faq.utnso.com.ar/calendar
Redirect 302 /todo https://faq.utnso.com.ar/todo
Redirect 302 /todos https://faq.utnso.com.ar/todos
Redirect 302 /TODO https://faq.utnso.com.ar/TODO
Redirect 302 /TODOs https://faq.utnso.com.ar/TODOs

# Redirect 302 /wiki-tp https://faq.utnso.com.ar/wiki-tp
Redirect 302 /inscripciones https://faq.utnso.com.ar/inscripciones
Redirect 302 /inscripcion https://faq.utnso.com.ar/inscripcion
Redirect 302 /inscribirse https://faq.utnso.com.ar/inscribirse
Redirect 302 /videos https://faq.utnso.com.ar/videos
Redirect 302 /video https://faq.utnso.com.ar/video
Redirect 302 /mariobash https://faq.utnso.com.ar/mariobash
Redirect 302 /punteros https://faq.utnso.com.ar/punteros
Redirect 302 /git https://faq.utnso.com.ar/git
Redirect 302 /git-cli https://faq.utnso.com.ar/git-cli
Redirect 302 /egit https://faq.utnso.com.ar/egit
Redirect 302 /git-eclipse https://faq.utnso.com.ar/git-eclipse
Redirect 302 /git-gui https://faq.utnso.com.ar/git-gui

# Utiles
Redirect 302 /get-repo.sh https://faq.utnso.com.ar/get-repo.sh
Redirect 302 /get-and-compile-repo.sh https://faq.utnso.com.ar/get-and-compile-repo.sh
Redirect 302 /commons https://faq.utnso.com.ar/commons
Redirect 302 /script-ntp.sh https://faq.utnso.com.ar/script-ntp.sh

# Internal
Redirect 302 /internal/wiki https://faq.utnso.com.ar/internal/wiki

# "Teoria"
Redirect 302 /arrancar https://faq.utnso.com.ar/arrancar
Redirect 302 /empezar https://faq.utnso.com.ar/empezar
Redirect 302 /como-arrancar https://faq.utnso.com.ar/como-arrancar
Redirect 302 /como-empezar https://faq.utnso.com.ar/como-empezar

# Presentaciones
Redirect 302 /intro-al-tp https://faq.utnso.com.ar/intro-al-tp

Redirect 302 /valgrind https://faq.utnso.com.ar/valgrind
Redirect 302 /ejercicios https://faq.utnso.com.ar/ejercicios
Redirect 302 /introC https://faq.utnso.com.ar/introC
Redirect 302 /introc https://faq.utnso.com.ar/introc
Redirect 302 /senales https://faq.utnso.com.ar/senales
Redirect 302 /seniales https://faq.utnso.com.ar/seniales
Redirect 302 /signal https://faq.utnso.com.ar/signal
Redirect 302 /signals https://faq.utnso.com.ar/signals
Redirect 302 /threads https://faq.utnso.com.ar/threads
Redirect 302 /hilos https://faq.utnso.com.ar/hilos
Redirect 302 /pthreads https://faq.utnso.com.ar/pthreads
Redirect 302 /thread https://faq.utnso.com.ar/thread

Redirect 302 /intro-fs https://faq.utnso.com.ar/intro-fs
Redirect 302 /fuse https://faq.utnso.com.ar/fuse
Redirect 302 /FUSE https://faq.utnso.com.ar/FUSE
Redirect 302 /fuse-old https://faq.utnso.com.ar/fuse-old

Redirect 302 /shared-library https://faq.utnso.com.ar/shared-library
Redirect 302 /shared-libraries https://faq.utnso.com.ar/shared-libraries
Redirect 302 /debug-eclipse https://faq.utnso.com.ar/debug-eclipse
Redirect 302 /setup-vm https://faq.utnso.com.ar/setup-vm
Redirect 302 /guest-additions https://faq.utnso.com.ar/guest-additions
Redirect 302 /guest-aditions https://faq.utnso.com.ar/guest-aditions
Redirect 302 /exercises https://faq.utnso.com.ar/exercises
Redirect 302 /ejercicios-repo https://faq.utnso.com.ar/ejercicios-repo
Redirect 302 /repo-ejercicios https://faq.utnso.com.ar/repo-ejercicios
Redirect 302 /video-threads https://faq.utnso.com.ar/video-threads

Redirect 302 /sockets https://faq.utnso.com.ar/sockets
Redirect 302 /socket https://faq.utnso.com.ar/socket
Redirect 302 /serializacion https://faq.utnso.com.ar/serializacion
Redirect 302 /debug-remote https://faq.utnso.com.ar/debug-remote
Redirect 302 /bash https://faq.utnso.com.ar/bash
Redirect 302 /fork https://faq.utnso.com.ar/fork
Redirect 302 /semaforos https://faq.utnso.com.ar/semaforos
Redirect 302 /semaforo https://faq.utnso.com.ar/semaforo
Redirect 302 /errores-eclipse https://faq.utnso.com.ar/errores-eclipse
Redirect 302 /reportar-errores https://faq.utnso.com.ar/reportar-errores
Redirect 302 /reportar https://faq.utnso.com.ar/reportar
Redirect 302 /eclipse-makefile https://faq.utnso.com.ar/eclipse-makefile
Redirect 302 /eclipse-guia-grafica https://faq.utnso.com.ar/eclipse-guia-grafica
Redirect 302 /declarar https://faq.utnso.com.ar/declarar
Redirect 302 /declaraciones https://faq.utnso.com.ar/declaraciones
Redirect 302 /mati-youtube https://faq.utnso.com.ar/mati-youtube
Redirect 302 /matiyoutube https://faq.utnso.com.ar/matiyoutube
Redirect 302 /youtubemati https://faq.utnso.com.ar/youtubemati
Redirect 302 /youtube-mati https://faq.utnso.com.ar/youtube-mati
#El documento fue eliminado -> Redirect 302 /cunit https://faq.utnso.com.ar/cunit
Redirect 302 /eclipse-postmortem https://faq.utnso.com.ar/eclipse-postmortem
Redirect 302 /postmortem https://faq.utnso.com.ar/postmortem
Redirect 302 /debug-postmortem https://faq.utnso.com.ar/debug-postmortem

Redirect 302 /c-wannabe https://faq.utnso.com.ar/c-wannabe

# TP 0
Redirect 302 /soporte-api https://faq.utnso.com.ar/soporte-api
Redirect 302 /tp0 https://faq.utnso.com.ar/tp0
Redirect 302 /tp0.git https://faq.utnso.com.ar/tp0.git
Redirect 302 /tp0-enunciado https://faq.utnso.com.ar/tp0-enunciado
Redirect 302 /workshop https://faq.utnso.com.ar/workshop
Redirect 302 /workshopC https://faq.utnso.com.ar/workshopC
Redirect 302 /c https://faq.utnso.com.ar/c

# TP
Redirect 302 /tp https://faq.utnso.com.ar/tp
Redirect 302 /trabajo-practico https://faq.utnso.com.ar/trabajo-practico
Redirect 302 /enunciado-tp https://faq.utnso.com.ar/enunciado-tp
Redirect 302 /enunciado https://faq.utnso.com.ar/enunciado
Redirect 302 /enunciado-ppt https://faq.utnso.com.ar/enunciado-ppt
Redirect 302 /enunciado-presentacion https://faq.utnso.com.ar/enunciado-presentacion
Redirect 302 /errata https://faq.utnso.com.ar/errata
Redirect 302 /erratas https://faq.utnso.com.ar/erratas
Redirect 302 /pruebas https://faq.utnso.com.ar/pruebas
Redirect 302 /ntp https://faq.utnso.com.ar/ntp

# LINUSE
Redirect 302 /linuse https://faq.utnso.com.ar/linuse
Redirect 302 /linuse-ppt https://faq.utnso.com.ar/linuse-ppt
Redirect 302 /linuse-ppt-fs https://faq.utnso.com.ar/linuse-ppt-fs
Redirect 302 /linuse-pruebas https://faq.utnso.com.ar/linuse-pruebas

# Lissandra
Redirect 302 /lissandra https://faq.utnso.com.ar/lissandra
Redirect 302 /lissandra-ppt https://faq.utnso.com.ar/lissandra-ppt
Redirect 302 /lissandra-pruebas https://faq.utnso.com.ar/lissandra-pruebas
Redirect 302 /lissandra-pruebas-checkpoint https://faq.utnso.com.ar/lissandra-pruebas-checkpoint

# El Gran TP
Redirect 302 /grantp https://faq.utnso.com.ar/grantp
Redirect 302 /grantp-v1-1 https://faq.utnso.com.ar/grantp-v1-1
Redirect 302 /grantp-ppt https://faq.utnso.com.ar/grantp-ppt
Redirect 302 /grantp-pruebas https://faq.utnso.com.ar/grantp-pruebas
Redirect 302 /grantp-pruebas-checkpoint https://faq.utnso.com.ar/grantp-pruebas-checkpoint

# Redistinto
Redirect 302 /redistinto https://faq.utnso.com.ar/redistinto
Redirect 302 /redistinto-pdf https://faq.utnso.com.ar/redistinto-pdf
Redirect 302 /redistinto-ppt https://faq.utnso.com.ar/redistinto-ppt
Redirect 302 /redistinto-presentacion https://faq.utnso.com.ar/redistinto-presentacion
Redirect 302 /redistinto-errata https://faq.utnso.com.ar/redistinto-errata
Redirect 302 /redistinto-pruebas https://faq.utnso.com.ar/redistinto-pruebas

# YAMA
Redirect 302 /yama https://faq.utnso.com.ar/yama
Redirect 302 /yama-pdf https://faq.utnso.com.ar/yama-pdf
Redirect 302 /llama https://faq.utnso.com.ar/llama
Redirect 302 /llama-pdf https://faq.utnso.com.ar/llama-pdf
Redirect 302 /yama-ppt https://faq.utnso.com.ar/yama-ppt
Redirect 302 /llama-ppt https://faq.utnso.com.ar/llama-ppt
Redirect 302 /yama-presentacion https://faq.utnso.com.ar/yama-presentacion
Redirect 302 /llama-presentacion https://faq.utnso.com.ar/llama-presentacion
Redirect 302 /yama-errata https://faq.utnso.com.ar/yama-errata
Redirect 302 /llama-errata https://faq.utnso.com.ar/llama-errata
Redirect 302 /yama-planificacion https://faq.utnso.com.ar/yama-planificacion
Redirect 302 /llama-ppt https://faq.utnso.com.ar/llama-ppt
Redirect 302 /yama-pruebas https://faq.utnso.com.ar/yama-pruebas
Redirect 302 /llama-pruebas https://faq.utnso.com.ar/llama-pruebas

# ESTheR
Redirect 302 /esther https://faq.utnso.com.ar/esther
Redirect 302 /ester https://faq.utnso.com.ar/ester
Redirect 302 /esther-ppt https://faq.utnso.com.ar/esther-ppt
Redirect 302 /ester-ppt https://faq.utnso.com.ar/ester-ppt
Redirect 302 /esther-presentacion https://faq.utnso.com.ar/esther-presentacion
Redirect 302 /ester-presentacion https://faq.utnso.com.ar/ester-presentacion
Redirect 302 /esther-errata https://faq.utnso.com.ar/esther-errata
Redirect 302 /esther-pruebas https://faq.utnso.com.ar/esther-pruebas

# char *mander
Redirect 302 /charmander https://faq.utnso.com.ar/charmander
Redirect 302 /char-mander https://faq.utnso.com.ar/char-mander
Redirect 302 /char_mander https://faq.utnso.com.ar/char_mander
Redirect 302 /charmander-errata https://faq.utnso.com.ar/charmander-errata
## Disco ejemplo
Redirect 302 /charmander-ejemplo.tar.gz https://faq.utnso.com.ar/charmander-ejemplo.tar.gz
## Pruebas
Redirect 302 /base.bin https://faq.utnso.com.ar/base.bin
Redirect 302 /base.bin.gz https://faq.utnso.com.ar/base.bin.gz
Redirect 302 /completa.bin https://faq.utnso.com.ar/completa.bin
Redirect 302 /completa.bin.gz https://faq.utnso.com.ar/completa.bin.gz
Redirect 302 /pruebas-charmander https://faq.utnso.com.ar/pruebas-charmander


# Elestac
Redirect 302 /elestac https://faq.utnso.com.ar/elestac
Redirect 302 /elestac-errata https://faq.utnso.com.ar/elestac-errata
Redirect 302 /elestac-pruebas https://faq.utnso.com.ar/elestac-pruebas

# Cache13
Redirect 302 /cache13 https://faq.utnso.com.ar/cache13
Redirect 302 /cache13-presentacion https://faq.utnso.com.ar/cache13-presentacion
Redirect 302 /cache13-pruebas https://faq.utnso.com.ar/cache13-pruebas
Redirect 302 /cache13-scripts https://faq.utnso.com.ar/cache13-scripts

# ReduceMapFast
Redirect 302 /reducemapfast https://faq.utnso.com.ar/reducemapfast
Redirect 302 /reduce https://faq.utnso.com.ar/reduce
Redirect 302 /reducemap https://faq.utnso.com.ar/reducemap
Redirect 302 /reducemapfast-errata https://faq.utnso.com.ar/reducemapfast-errata
Redirect 302 /reduce-errata https://faq.utnso.com.ar/reduce-errata
Redirect 302 /reducemapfast-presentacion https://faq.utnso.com.ar/reducemapfast-presentacion
Redirect 302 /apareando https://faq.utnso.com.ar/apareando

# Rafaga
Redirect 302 /rafaga https://faq.utnso.com.ar/rafaga
Redirect 302 /rafaga-ppt https://faq.utnso.com.ar/rafaga-ppt
Redirect 302 /rafaga-algoritmos https://faq.utnso.com.ar/rafaga-algoritmos
Redirect 302 /rafaga-errata https://faq.utnso.com.ar/rafaga-errata
Redirect 302 /algoritmo https://faq.utnso.com.ar/algoritmo
Redirect 302 /algoritmos https://faq.utnso.com.ar/algoritmos
Redirect 302 /so-ensamblador https://faq.utnso.com.ar/so-ensamblador
Redirect 302 /ensamblador https://faq.utnso.com.ar/ensamblador


# Esta CoverFlow
Redirect 302 /estacoverflow https://faq.utnso.com.ar/estacoverflow
Redirect 302 /estacoverflow-ppt https://faq.utnso.com.ar/estacoverflow-ppt
Redirect 302 /estacoverflow-errata https://faq.utnso.com.ar/estacoverflow-errata
Redirect 302 /estacoverflow-erratas https://faq.utnso.com.ar/estacoverflow-erratas
Redirect 302 /parser https://faq.utnso.com.ar/parser

# SuperMarioProc RELOADED
Redirect 302 /supermarioreloaded https://faq.utnso.com.ar/supermarioreloaded
Redirect 302 /presentacion-enunciado https://faq.utnso.com.ar/presentacion-enunciado
Redirect 302 /presentacion-tp https://faq.utnso.com.ar/presentacion-tp
Redirect 302 /presentacionenunciado https://faq.utnso.com.ar/presentacionenunciado
Redirect 302 /disk.bin_.7z https://faq.utnso.com.ar/disk.bin_.7z


# SuperMarioProc
Redirect 302 /supermario https://faq.utnso.com.ar/supermario
Redirect 302 /supermario-errata https://faq.utnso.com.ar/supermario-errata
# Redirect 302 /notas https://faq.utnso.com.ar/notas
# Redirect 302 /errata https://faq.utnso.com.ar/errata
# Redirect 302 /koopa https://faq.utnso.com.ar/koopa
# Redirect 302 /koopa-1.2 https://faq.utnso.com.ar/koopa-1.2
# Redirect 302 /pedidos https://faq.utnso.com.ar/pedidos
# Redirect 302 /pedido https://faq.utnso.com.ar/pedido
# Redirect 302 /ejemplo-koopa https://faq.utnso.com.ar/ejemplo-koopa

# Redirecciones del FAQ
Redirect 302 /faq https://faq.utnso.com.ar/faq
Redirect 302 /ld-library-path https://faq.utnso.com.ar/ld-library-path
Redirect 302 /segfault https://faq.utnso.com.ar/segfault
Redirect 302 /SIGSEGV https://faq.utnso.com.ar/SIGSEGV
Redirect 302 /sigsegv https://faq.utnso.com.ar/sigsegv
Redirect 302 /desaparece-proyecto https://faq.utnso.com.ar/desaparece-proyecto
Redirect 302 /inotify-vi https://faq.utnso.com.ar/inotify-vi
Redirect 302 /estructurado https://faq.utnso.com.ar/estructurado

Redirect 302 /beej https://faq.utnso.com.ar/beej
Redirect 302 /beej-es https://faq.utnso.com.ar/beej-es
Redirect 302 /beej_es https://faq.utnso.com.ar/beej_es
Redirect 302 /beej-en https://faq.utnso.com.ar/beej-en
Redirect 302 /beej_en https://faq.utnso.com.ar/beej_en

# Meta
Redirect 302 /agregar https://faq.utnso.com.ar/agregar
Redirect 302 /meta https://faq.utnso.com.ar/meta
Redirect 302 /levantando.bat https://faq.utnso.com.ar/levantando.bat
